@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }

.grid-centered {
  display: grid;
  height: 80vh;
}

.card {
    width: 400px;
    padding: 20px;
    margin: 5px;
    color: #ffffff;
    font-size: 12px;
}

.nav-link {
  padding: 10px;
}

.rounded-navbar {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* table {
  margin: 10px;
}

tr td{
  font-size:0.9rem;
}

th {
   background-color: #4b5563;
   color: #f3f3f3;
} */

li {
  color: #304d4a
}

