@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 5px 20px 5px 20px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.grid-centered {
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
    width: 400px;
    padding: 20px;
    margin: 5px;
    background: 
}